body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #e5e5e5; */
  /* padding: 54px 40px 24px 40px; */
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  /* width: 1070px; */
  /* max-width: auto; */
  height: 100%;
  margin: 0 auto;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  box-shadow: 0px 0px 36px 16px rgba(201, 192, 192, 0.75);
  -webkit-box-shadow: 0px 0px 36px 16px rgba(201, 192, 192, 0.75);
  -moz-box-shadow: 0px 0px 36px 16px rgba(201, 192, 192, 0.75);
}

/* Main content */
.main-content {
  padding: 88px;
  width: 820px;
}

/* About me */
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 24px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #383737;
  width: 525px;
}

.about-my-container {
  margin-bottom: 54px;
}

/* Projects */
.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.projects-container {
  margin-bottom: 48px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

/* Work experience */
.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-position {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: -12px;
}

.work-experience-place {
  margin-bottom: 18px;
}

.work-experience-company {
  color: #4372d2;
  margin-bottom: -2px;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #615f5f;
  margin: 10px 0 8px 0;
}

.text-divider {
  color: #000000;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #414141;
}

.work-duties-list {
  padding: 0 0 0 14px;
  margin: 0;
}

/* Education */
.educational-institution {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 12px 0;
}
.national-university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4372d2;
  margin: 0 0 12px 0;
}

.specialty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 12px 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6f6d6d;
}

/* Sadebar */
.sadebar {
  width: 370px;
  /* background: #cbcdcff2; */
  background: #f0ead5;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container {
  margin: 48px 0 0 40px;
}

.tech-skills-container {
  margin: 48px 0 0 40px;
}

.sadebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts  */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #276fec;
}

/* Skills */
.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-item {
  color: #6d9bf5;
}
.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

/* Soft Skills */
.soft-skills--container {
  margin: 48px 0 0 40px;
}

.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-item {
  color: #6d9bf5;
}

/* Languages */
.Languages-container {
  margin: 48px 0 0 40px;
}

.Languages-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.Languages-list-item {
  color: #6d9bf5;
}

.Languages-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
